.classroom{
    background-color: $arteveldeOrange;
    color: white;
    padding: 25px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

td{
    width: 300px;
}


.notification{
    background-color: #F28705;
    color: white;
    padding: 5px;
    border: none;
    margin-left: 700px;
}
