// Body
$body-bg: #f8fafc;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// ------  PROJECT ------- //

// Typography
$font-family-avenir: 'avenir';

// Colours
$arteveldeOrange: #F28705;
$darkGrey: #707070;
$white:#FFFFFF;
$grey: #E8E8E8;


