@import 'variables';

@import 'pages/general';
@import 'login.scss';

@import 'partials/header';
@import 'pages/search';
@import 'pages/students';
@import 'pages/logbook';
@import 'pages/exams';


body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E8E8E8;
}

.pages{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 15px;
}

.searchStudent{
    background-color: #FFFFFF;
    width: 1000px;
    border-radius: 30px;
    margin: auto;
}


